/TUM_first_pool_34_01_01_vector.parquet
/TUM_first_pool_4_01_01_vector.parquet
/TUM_first_pool_11_01_01_vector.parquet
/TUM_first_pool_15_01_01_vector.parquet
/TUM_first_pool_9_01_01_vector.parquet
/TUM_first_pool_19_01_01_vector.parquet
/TUM_first_pool_23_01_01_vector.parquet
/TUM_first_pool_40_01_01_vector.parquet
/TUM_first_pool_6_01_01_vector.parquet
/TUM_first_pool_13_01_01_vector.parquet
/TUM_first_pool_50_01_01_vector.parquet
/TUM_first_pool_12_01_01_vector.parquet
/TUM_first_pool_17_01_01_vector.parquet
/TUM_first_pool_8_01_01_vector.parquet
/TUM_first_pool_47_01_01_vector.parquet
/TUM_first_pool_33_01_01_vector.parquet
/TUM_first_pool_20_01_01_vector.parquet
/TUM_first_pool_24_01_01_vector.parquet
/TUM_first_pool_10_01_01_vector.parquet
/TUM_first_pool_35_01_01_vector.parquet
/TUM_first_pool_5_01_01_vector.parquet
/TUM_first_pool_1_01_01_vector.parquet
/TUM_first_pool_39_01_01_vector.parquet
/TUM_first_pool_55_01_01_vector.parquet
/TUM_first_pool_62_01_01_vector.parquet
/TUM_first_pool_18_01_01_vector.parquet
/TUM_first_pool_32_01_01_vector.parquet
