
poetry.lock
scratch.py
./*.csv
*.ckpt
**.pstats
**.lprof
**.pyc
**.config_ipynb
dist/**
lightning_logs/**
**/lightning_logs/**
settings.json
.coverage
.coverage*
htmlcov/**
tmp/**
.tox/**
wandb/**
elfragmentador.egg-info/**
**/.snakemake
benchmark_**
benchmarking_workflow/comet
benchmarking_workflow/fasta
benchmarking_workflow/ind_spectrast
benchmarking_workflow/raw
benchmarking_workflow/ip
benchmarking_workflow/pp
benchmarking_workflow/spectrast
benchmarking_workflow/prosit_in

notebooks/*.csv
.Rproj.user
