/TUM_first_pool_63_01_01_annotation.parquet
/TUM_first_pool_64_01_01_annotation.parquet
/TUM_first_pool_65_01_01_annotation.parquet
/TUM_first_pool_66_01_01_annotation.parquet
/TUM_first_pool_67_01_01_annotation.parquet
/TUM_first_pool_68_01_01_annotation.parquet
/TUM_first_pool_69_01_01_annotation.parquet
/TUM_first_pool_70_01_01_annotation.parquet
/TUM_first_pool_71_01_01_annotation.parquet
/TUM_first_pool_72_01_01_annotation.parquet
/TUM_first_pool_73_01_01_annotation.parquet
/TUM_first_pool_74_01_01_annotation.parquet
/TUM_first_pool_75_01_01_annotation.parquet
/TUM_first_pool_76_01_01_annotation.parquet
/TUM_first_pool_77_01_01_annotation.parquet
/TUM_first_pool_78_01_01_annotation.parquet
/TUM_first_pool_79_01_01_annotation.parquet
/TUM_first_pool_80_01_01_annotation.parquet
/TUM_first_pool_81_01_01_annotation.parquet
/TUM_first_pool_82_01_01_annotation.parquet
/TUM_first_pool_83_01_01_annotation.parquet
/TUM_first_pool_84_01_01_annotation.parquet
/TUM_first_pool_85_01_01_annotation.parquet
/TUM_first_pool_86_01_01_annotation.parquet
/TUM_first_pool_87_01_01_annotation.parquet
/TUM_first_pool_88_01_01_annotation.parquet
/TUM_first_pool_89_01_01_annotation.parquet
/TUM_first_pool_90_01_01_annotation.parquet
/TUM_first_pool_91_01_01_annotation.parquet
/TUM_first_pool_92_01_01_annotation.parquet
/TUM_first_pool_93_01_01_annotation.parquet
/TUM_first_pool_94_01_01_annotation.parquet
/TUM_first_pool_95_01_01_annotation.parquet
/TUM_first_pool_96_01_01_annotation.parquet
/TUM_first_pool_97_01_01_annotation.parquet
/TUM_first_pool_98_01_01_annotation.parquet
