/TUM_aspn_20_01_01_vector.parquet
/TUM_aspn_14_01_01_vector.parquet
/TUM_aspn_3_01_01_vector.parquet
/TUM_aspn_5_01_01_vector.parquet
/TUM_aspn_9_01_01_vector.parquet
/TUM_aspn_33_01_01_vector.parquet
/TUM_aspn_1_01_01_vector.parquet
/TUM_aspn_7_01_01_vector.parquet
/TUM_aspn_38_01_01_vector.parquet
/TUM_aspn_32_01_01_vector.parquet
/TUM_aspn_4_01_01_vector.parquet
/TUM_aspn_17_01_01_vector.parquet
/TUM_aspn_39_01_01_vector.parquet
/TUM_aspn_40_01_01_vector.parquet
/TUM_aspn_6_01_01_vector.parquet
/TUM_aspn_26_01_01_vector.parquet
