/TUM_first_pool_100_01_01_annotation.parquet
/TUM_first_pool_101_01_01_annotation.parquet
/TUM_first_pool_102_01_01_annotation.parquet
/TUM_first_pool_103_01_01_annotation.parquet
/TUM_first_pool_104_01_01_annotation.parquet
/TUM_first_pool_105_01_01_annotation.parquet
/TUM_first_pool_106_01_01_annotation.parquet
/TUM_first_pool_107_01_01_annotation.parquet
/TUM_first_pool_108_01_01_annotation.parquet
/TUM_first_pool_109_01_01_annotation.parquet
/TUM_first_pool_110_01_01_annotation.parquet
/TUM_first_pool_111_01_01_annotation.parquet
/TUM_first_pool_112_01_01_annotation.parquet
/TUM_first_pool_113_01_01_annotation.parquet
/TUM_first_pool_114_01_01_annotation.parquet
/TUM_first_pool_115_01_01_annotation.parquet
/TUM_first_pool_116_01_01_annotation.parquet
/TUM_first_pool_117_01_01_annotation.parquet
/TUM_first_pool_118_01_01_annotation.parquet
/TUM_first_pool_119_01_01_annotation.parquet
/TUM_first_pool_120_01_01_annotation.parquet
/TUM_first_pool_121_01_01_annotation.parquet
/TUM_first_pool_122_01_01_annotation.parquet
/TUM_first_pool_123_01_01_annotation.parquet
/TUM_first_pool_99_01_01_annotation.parquet
