/TUM_aspn_10_01_01_annotation.parquet
/TUM_aspn_11_01_01_annotation.parquet
/TUM_aspn_12_01_01_annotation.parquet
/TUM_aspn_13_01_01_annotation.parquet
/TUM_aspn_14_01_01_annotation.parquet
/TUM_aspn_15_01_01_annotation.parquet
/TUM_aspn_16_01_01_annotation.parquet
/TUM_aspn_17_01_01_annotation.parquet
/TUM_aspn_18_01_01_annotation.parquet
/TUM_aspn_19_01_01_annotation.parquet
/TUM_aspn_1_01_01_annotation.parquet
/TUM_aspn_20_01_01_annotation.parquet
/TUM_aspn_21_01_01_annotation.parquet
/TUM_aspn_22_01_01_annotation.parquet
/TUM_aspn_23_01_01_annotation.parquet
/TUM_aspn_24_01_01_annotation.parquet
/TUM_aspn_25_01_01_annotation.parquet
/TUM_aspn_26_01_01_annotation.parquet
/TUM_aspn_27_01_01_annotation.parquet
/TUM_aspn_28_01_01_annotation.parquet
/TUM_aspn_29_01_01_annotation.parquet
/TUM_aspn_2_01_01_annotation.parquet
/TUM_aspn_30_01_01_annotation.parquet
/TUM_aspn_31_01_01_annotation.parquet
/TUM_aspn_32_01_01_annotation.parquet
/TUM_aspn_33_01_01_annotation.parquet
/TUM_aspn_34_01_01_annotation.parquet
/TUM_aspn_35_01_01_annotation.parquet
/TUM_aspn_36_01_01_annotation.parquet
/TUM_aspn_37_01_01_annotation.parquet
/TUM_aspn_38_01_01_annotation.parquet
/TUM_aspn_39_01_01_annotation.parquet
/TUM_aspn_3_01_01_annotation.parquet
/TUM_aspn_40_01_01_annotation.parquet
/TUM_aspn_41_01_01_annotation.parquet
/TUM_aspn_4_01_01_annotation.parquet
/TUM_aspn_5_01_01_annotation.parquet
/TUM_aspn_6_01_01_annotation.parquet
/TUM_aspn_7_01_01_annotation.parquet
/TUM_aspn_8_01_01_annotation.parquet
/TUM_aspn_9_01_01_annotation.parquet
