/TUM_first_pool_10_01_01_annotation.parquet
/TUM_first_pool_11_01_01_annotation.parquet
/TUM_first_pool_12_01_01_annotation.parquet
/TUM_first_pool_13_01_01_annotation.parquet
/TUM_first_pool_14_01_01_annotation.parquet
/TUM_first_pool_15_01_01_annotation.parquet
/TUM_first_pool_16_01_01_annotation.parquet
/TUM_first_pool_17_01_01_annotation.parquet
/TUM_first_pool_18_01_01_annotation.parquet
/TUM_first_pool_19_01_01_annotation.parquet
/TUM_first_pool_1_01_01_annotation.parquet
/TUM_first_pool_20_01_01_annotation.parquet
/TUM_first_pool_21_01_01_annotation.parquet
/TUM_first_pool_22_01_01_annotation.parquet
/TUM_first_pool_23_01_01_annotation.parquet
/TUM_first_pool_24_01_01_annotation.parquet
/TUM_first_pool_25_01_01_annotation.parquet
/TUM_first_pool_26_01_01_annotation.parquet
/TUM_first_pool_27_01_01_annotation.parquet
/TUM_first_pool_28_01_01_annotation.parquet
/TUM_first_pool_29_01_01_annotation.parquet
/TUM_first_pool_2_01_01_annotation.parquet
/TUM_first_pool_30_01_01_annotation.parquet
/TUM_first_pool_31_01_01_annotation.parquet
/TUM_first_pool_32_01_01_annotation.parquet
/TUM_first_pool_33_01_01_annotation.parquet
/TUM_first_pool_34_01_01_annotation.parquet
/TUM_first_pool_35_01_01_annotation.parquet
/TUM_first_pool_36_01_01_annotation.parquet
/TUM_first_pool_37_01_01_annotation.parquet
/TUM_first_pool_38_01_01_annotation.parquet
/TUM_first_pool_39_01_01_annotation.parquet
/TUM_first_pool_3_01_01_annotation.parquet
/TUM_first_pool_40_01_01_annotation.parquet
/TUM_first_pool_41_01_01_annotation.parquet
/TUM_first_pool_42_01_01_annotation.parquet
/TUM_first_pool_43_01_01_annotation.parquet
/TUM_first_pool_44_01_01_annotation.parquet
/TUM_first_pool_45_01_01_annotation.parquet
/TUM_first_pool_46_01_01_annotation.parquet
/TUM_first_pool_47_01_01_annotation.parquet
/TUM_first_pool_48_01_01_annotation.parquet
/TUM_first_pool_49_01_01_annotation.parquet
/TUM_first_pool_4_01_01_annotation.parquet
/TUM_first_pool_50_01_01_annotation.parquet
/TUM_first_pool_51_01_01_annotation.parquet
/TUM_first_pool_52_01_01_annotation.parquet
/TUM_first_pool_53_01_01_annotation.parquet
/TUM_first_pool_54_01_01_annotation.parquet
/TUM_first_pool_55_01_01_annotation.parquet
/TUM_first_pool_56_01_01_annotation.parquet
/TUM_first_pool_57_01_01_annotation.parquet
/TUM_first_pool_58_01_01_annotation.parquet
/TUM_first_pool_59_01_01_annotation.parquet
/TUM_first_pool_5_01_01_annotation.parquet
/TUM_first_pool_60_01_01_annotation.parquet
/TUM_first_pool_61_01_01_annotation.parquet
/TUM_first_pool_62_01_01_annotation.parquet
/TUM_first_pool_6_01_01_annotation.parquet
/TUM_first_pool_7_01_01_annotation.parquet
/TUM_first_pool_8_01_01_annotation.parquet
/TUM_first_pool_9_01_01_annotation.parquet
