/TUM_first_pool_109_01_01_vector.parquet
/TUM_first_pool_123_01_01_vector.parquet
/TUM_first_pool_115_01_01_vector.parquet
/TUM_first_pool_100_01_01_vector.parquet
/TUM_first_pool_114_01_01_vector.parquet
