/TUM_third_pool_1_01_01_annotation.parquet
/TUM_third_pool_2_01_01_annotation.parquet
/TUM_third_pool_3_01_01_annotation.parquet
/TUM_third_pool_4_01_01_annotation.parquet
/TUM_third_pool_5_01_01_annotation.parquet
/TUM_third_pool_6_01_01_annotation.parquet
